soap_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://linkcare.es/LINKCARE"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:intf="http://linkcare.es/LINKCARE"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    
    <wsdl:message name="update_activityRequest">
        <wsdl:part name="task" type="xsd:string"/>
        <wsdl:part name="date" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="update_activityResponse">
        <wsdl:part name="result" type="xsd:string"/>
        <wsdl:part name="ErrorMsg" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="calculate_target_statusRequest">
        <wsdl:part name="task" type="xsd:string"/>
        <wsdl:part name="date" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="calculate_target_statusResponse">
        <wsdl:part name="result" type="xsd:string"/>
        <wsdl:part name="ErrorMsg" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="insert_new_goalRequest">
        <wsdl:part name="task" type="xsd:string"/>
        <wsdl:part name="patient_choice" type="xsd:string"/>
        <wsdl:part name="date" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="insert_new_goalResponse">
        <wsdl:part name="result" type="xsd:string"/>
        <wsdl:part name="ErrorMsg" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="insert_stepsRequest">
        <wsdl:part name="admission" type="xsd:string"/>
        <wsdl:part name="steps" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="insert_stepsResponse">
        <wsdl:part name="result" type="xsd:string"/>
        <wsdl:part name="ErrorMsg" type="xsd:string"/>
    </wsdl:message>


    <wsdl:portType name="LINKCARE">
        <wsdl:operation name="update_activity" parameterOrder="task date result ErrorMsg">
            <wsdl:input message="intf:update_activityRequest" name="update_activityRequest"/>
            <wsdl:output message="intf:update_activityResponse" name="update_activityResponse"/>
        </wsdl:operation>

        <wsdl:operation name="calculate_target_status" parameterOrder="task date result ErrorMsg">
            <wsdl:input message="intf:calculate_target_statusRequest" name="calculate_target_statusRequest"/>
            <wsdl:output message="intf:calculate_target_statusResponse" name="calculate_target_statusResponse"/>
        </wsdl:operation>

        <wsdl:operation name="insert_new_goal" parameterOrder="task patient_choice date result ErrorMsg">
            <wsdl:input message="intf:insert_new_goalRequest" name="insert_new_goalRequest"/>
            <wsdl:output message="intf:insert_new_goalResponse" name="insert_new_goalResponse"/>
        </wsdl:operation>

        <wsdl:operation name="insert_steps" parameterOrder="admission steps result ErrorMsg">
            <wsdl:input message="intf:insert_stepsRequest" name="insert_stepsRequest"/>
            <wsdl:output message="intf:insert_stepsResponse" name="insert_stepsResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="LINKCARESoapBinding" type="intf:LINKCARE">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="update_activity">
            <wsdlsoap:operation soapAction="LINKCARE#update_activity"/>
            <wsdl:input name="update_activityRequest">
                <wsdlsoap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="http://linkcare.es/LINKCARE"
                        use="encoded"/>
            </wsdl:input>
            <wsdl:output name="update_activityResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://linkcare.es/LINKCARE"
                               use="encoded"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="calculate_target_status">
            <wsdlsoap:operation soapAction="LINKCARE#calculate_target_status"/>
            <wsdl:input name="calculate_target_statusRequest">
                <wsdlsoap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="http://linkcare.es/LINKCARE"
                        use="encoded"/>
            </wsdl:input>
            <wsdl:output name="calculate_target_statusResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://linkcare.es/LINKCARE"
                               use="encoded"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="insert_new_goal">
            <wsdlsoap:operation soapAction="LINKCARE#insert_new_goal"/>
            <wsdl:input name="insert_new_goalRequest">
                <wsdlsoap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="http://linkcare.es/LINKCARE"
                        use="encoded"/>
            </wsdl:input>
            <wsdl:output name="insert_new_goalResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://linkcare.es/LINKCARE"
                               use="encoded"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="insert_steps">
            <wsdlsoap:operation soapAction="LINKCARE#insert_steps"/>
            <wsdl:input name="insert_stepsRequest">
                <wsdlsoap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="http://linkcare.es/LINKCARE"
                        use="encoded"/>
            </wsdl:input>
            <wsdl:output name="insert_stepsResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://linkcare.es/LINKCARE"
                               use="encoded"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="LINKCARE">
        <wsdl:port binding="intf:LINKCARESoapBinding" name="LINKCARE">
            <wsdlsoap:address location="https://demo-api.linkcare.es/services/workflow/BRCA/Server.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
